{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Products</title>
{% endblock %}
{% block special_css %}
    <link href="{% static 'products_list.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="categories">
            {% if search %}
                <a href="/" class="category-btn {% if not category_filter %}selected{% endif %}">
                    Все товары
                </a>
            {% endif %}
            {% for category in categories %}
                <a href="?category={{ category.name }}"
                   class="category-btn {% if category.name == category_filter %}selected{% endif %}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    <div class="product-list">
        

        {% for product in products %}
            <div class="product-card">
                <div class="discount-badge">-{{ product.discount }}%</div>
                <a href="/product/{{ product.id }}/" class="product-name">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <h6>{{ product.name }}</h6>

                    <p class="old-price">{{ product.price }} тг</p>
                    <p class="new-price">{{ product.total_price|floatformat:0 }} тг</p>
                </a>

                <div class="add-to-cart">
                    <a href="{% url 'add_to_cart' product.id %}">
                        <img src="{% static 'icons/cart-icon.png' %}" alt="Добавить в корзину" class="cart-icon">
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
